# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

../ejercicios-part3-mongo/
../ejercicios-part3/
../ejercicios-part4/
../part5 fullstack/part5-1/
../part6 redux/
../part7 react router/
../part8 graphql/
../part8c_mongoose/
../part8d_graphql_library/
../part9/
../part9c/
../patientor/